BOT_TOKEN=8338765935:AAEc3Vv_XMO9SaexHSqjuTvpjga1-VTHqIg
API_KEY_5SIM=eyJhbGciOiJSUzUxMiIsInR5cCI6IkpXVCJ9.eyJleHAiOjE3OTk3NzU3MDAsImlhdCI6MTc2ODIzOTcwMCwicmF5IjoiYTM5ZmE5ZjViNzgxYTQ4NmUzZWNmZGU4NzA0MGI0YmEiLCJzdWIiOjMzMTYyODN9.a3yHs_gz5-TnkinubfSfId2gqiW7_7z-uOSVVVu2VTPMK3_W_ysYzP73JeHu7Z5vDBtTj08l3QMWm0eNDMgYXqV7utJMUaoYITkAdKlirZZZx0W2r7Uinc0tBo0RTKzvLBf5-wsUjbiNhVUMPRDNB-4Upp22zGSBOXVPc8i2LhJupGybNV_mJplRIwTdFFT2bUkEqmFMdPvD3swuSRE9dFAbKRkv2q8VNlqYhyqE1hy2FSqiESwkkFN8pR_XtK0rAGm-Za8VRH0AA9RAv7xzZbH2rrxqcZ8qC9BPIqS72IHXutXMe1psBufy7WP9zNtWbpGJ4vLwV4XZAtq3UQC3wg
ADMIN_ID=8450343222
DATABASE_URL=postgresql://user:password@localhost:5432/5simbot
MARKUP_PERCENTAGE=30